@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blueDark:  #132A44,
    --blueDarkOpacity: #132a4478,
    --blueLight: #A6CEF7
}
/**
* blueDark
*/
body {
    background:  #132A44!important;
    color: #ffff!important;
}
.icon {
    width: 40px;
    height: 40px;
}