@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blueDark:  #132A44,
    --blueDarkOpacity: #132a4478,
    --blueLight: #A6CEF7
}
/**
* blueDark
*/
body {
    background:  #132A44!important;
    color: #ffff!important;
}
.icon {
    width: 40px;
    height: 40px;
}
.icon_button_menu {
  width: 30px;
  height: 30px;
}
/* Shadow */
.text-shadow {
  text-shadow: 8px 8px #ffff;
}
.shadow-button {
  box-shadow: 8px 8px 0px #132A44;
}
/* Transition page */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}